<%= form_for(@student) do |f| %>

<div>

  <%=f.label(:name)%>
  <%=f.text_field(:name, value: @student.name) %>
  <%=f.label(:course)%>
  <%=f.text_field(:course, value: @student.course) %>
</div>
  <%=f.submit("Save Student")%>
<% end %>

<%= link_to "Back to students", students_path %>